.row {
  display: flex;
}

/* animacion de simbolos */
@keyframes symbol-appear {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

svg {
  animation-name: symbol-appear;
  animation-duration: 0.15s;
}

/* Empate */
.board.tie .symbol {
  background-color: red;
}

/* Combinaciones ganadoras */
.board.won-row0 .row0 .symbol {
  background-color: greenyellow;
}
.board.won-row1 .row1 .symbol {
  background-color: greenyellow;
}
.board.won-row2 .row2 .symbol {
  background-color: greenyellow;
}
.board.won-column0 .symbol.column0 {
  background-color: greenyellow;
}
.board.won-column1 .symbol.column1 {
  background-color: greenyellow;
}
.board.won-column2 .symbol.column2 {
  background-color: greenyellow;
}
.board.won-diagonal1 .row0 .symbol.column0 {
  background-color: greenyellow;
}
.board.won-diagonal1 .row1 .symbol.column1 {
  background-color: greenyellow;
}
.board.won-diagonal1 .row2 .symbol.column2 {
  background-color: greenyellow;
}
.board.won-diagonal2 .row0 .symbol.column2 {
  background-color: greenyellow;
}
.board.won-diagonal2 .row1 .symbol.column1 {
  background-color: greenyellow;
}
.board.won-diagonal2 .row2 .symbol.column0 {
  background-color: greenyellow;
}
